{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {{ form.hidden_tag() }}
      <fieldset class='form-group'>
        <legend class="join border-btm-mb4">Reset Your Password</legend>  
        <div class="form-group">{{ form.username.label(class='form-control-label')}}
          {{ form.username(class='form-control form-control-lg')}}</div>
        <div class="form-group">{{ form.n_password.label(class='form-control-label')}}
          {{ form.n_password(class='form-control form-control-lg')}}</div>
        <div class="form-group">{{ form.confirm_n_password.label(class='form-control-label')}} 
          {{ form.confirm_n_password(class='form-control form-control-lg')}}</div>
        <div class="form-group">{{ form.submit(class="btn btn-outline-info")}}</div>
      </fieldset>
    </form>
  </div>
{% endblock %}
